# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary files
tmp/
temp/
*.tmp

# Security
*.key
*.cert
*.pem
secrets/

# Cache
.cache/
.parcel-cache/
.eslintcache
.stylelintcache

# Windows user directories and system files
AppData/
3D Objects/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
NTUSER.DAT*
ntuser.*
*.ini
*.LOG*

# Personal directories
.android/
.aws/
.bito/
.bitowingman/
.codeium/
.config/
.continue/
.cursor/
.esd_auth
.gitconfig
.lesshst
.local/
.npmrc
.ollama/
.pulse-cookie
.pulse/
.ssh/
.th-client/
.void-editor/
